*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, Arial, sans-serif;
}

body{

    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;

    background:linear-gradient(
        135deg,
        #ffb6d9,
        #ffdff0,
        #ffc2e2
    );

}


body::before{

    content:"";
    position:absolute;
    width:300px;
    height:300px;
    background:#ffffff55;
    border-radius:50%;
    top:-100px;
    right:-100px;
    animation:move 8s infinite alternate;

}


body::after{

    content:"";
    position:absolute;
    width:250px;
    height:250px;
    background:#ffffff44;
    border-radius:50%;
    bottom:-80px;
    left:-80px;
    animation:move 10s infinite alternate;

}


@keyframes move{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(40px);
    }

}



.container{

    width:90%;
    max-width:420px;
    z-index:2;

}



.card{

    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(20px);

    border-radius:30px;

    padding:35px 25px;

    text-align:center;

    box-shadow:
    0 15px 40px rgba(0,0,0,.15);

    animation:show .8s ease;

}



@keyframes show{

    from{

        opacity:0;
        transform:translateY(30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}



h1{

    color:#fff;
    font-size:30px;
    margin-bottom:15px;

}



p{

    color:white;
    font-size:18px;
    margin-bottom:25px;

}



button{

    width:100%;

    border:none;

    padding:15px;

    margin:10px 0;

    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}



button:hover{

    transform:scale(1.05);

}



.yes{

    background:#ff4f91;
    color:white;

}



.no{

    background:white;
    color:#ff4f91;

}



.dateBox,
.timeBox{

    margin-top:20px;

}



input,
select{

    width:100%;

    padding:15px;

    border:none;

    border-radius:20px;

    font-size:16px;

    text-align:center;

    outline:none;

}



.footer{

    position:fixed;

    bottom:15px;

    color:white;

    font-size:13px;

    z-index:3;

    opacity:.9;

}



.telegram{

    display:block;

    background:#229ED9;

    color:white;

    padding:15px;

    border-radius:50px;

    text-decoration:none;

    margin-top:20px;

}



.fade{

    animation:fade .5s;

}


@keyframes fade{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}
