*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

background:linear-gradient(135deg,#ff8fb7,#ff5f8f,#ffb6c9);

background-size:300% 300%;

animation:bg 12s ease infinite;

}

@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}

.glass{

width:90%;

max-width:430px;

padding:35px;

border-radius:25px;

background:rgba(255,255,255,.18);

backdrop-filter:blur(18px);

box-shadow:0 10px 35px rgba(0,0,0,.2);

text-align:center;

color:white;

z-index:2;

}

.hide{

display:none;

}

h1{

font-size:32px;

margin-bottom:25px;

}

h2{

margin-bottom:15px;

color:white;

}

h3{

font-size:24px;

height:40px;

margin-bottom:20px;

}

button{

border:none;

padding:16px 35px;

border-radius:50px;

margin:10px;

cursor:pointer;

font-size:18px;

transition:.3s;

font-weight:bold;

}

#yes{

background:#ff2f6d;

color:white;

}

#yes:hover{

transform:scale(1.08);

}

#no{

background:white;

color:#ff2f6d;

position:relative;

}

input,select,textarea{

width:100%;

padding:14px;

margin-top:15px;

border-radius:15px;

border:none;

font-size:16px;

outline:none;

}

textarea{

height:110px;

resize:none;

}

#submit{

margin-top:20px;

width:100%;

background:#ff2f6d;

color:white;

}

#finish{

position:absolute;

text-align:center;

color:white;

animation:pop .8s;

}

#finish h1{

font-size:90px;

animation:heart 1s infinite;

}

@keyframes pop{

from{

transform:scale(.5);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}

@keyframes heart{

0%{

transform:scale(1);

}

50%{

transform:scale(1.25);

}

100%{

transform:scale(1);

}

}

.heart{

position:absolute;

color:white;

font-size:22px;

animation:float linear forwards;

opacity:.8;

}

@keyframes float{

0%{

transform:translateY(100vh);

opacity:0;

}

10%{

opacity:1;

}

100%{

transform:translateY(-120vh);

opacity:0;

}

}

@media(max-width:500px){

.glass{

padding:25px;

}

h1{

font-size:26px;

}

button{

width:100%;

}

}
